@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

.description{
    font-family: 'Courier Prime', monospace;
    /* font-size: medium; */
}
 img{
     max-width: 300px;
     border-radius: 50%;
 }
 .wrapInfo{
    display: flex;
    justify-content: space-evenly;
  }